:root {
    --plang: #5fa641;
    --plangacc: rgb(106, 189, 70);
    --plangaccsemi: rgb(106, 189, 70, .5);
    --pwhite: #d4d5d6;
    --pblack: #2b2a29;
    --pblacksemi: #2b2a2988;
}

body {
    overflow: hidden;
}

a,
p,
div {
    color: var(--pwhite);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--plang);
}

a:hover {
    color: var(--pwhite);
    text-decoration: none;
}

body #loadscreen {
    display: none;
}

body.loading #loadscreen {
    display: block;
}

.row+.row {
    margin-top: 2em;
}

.space {
    background-image: url('../img/pozadieinvsmallcontrast.png');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 100vh;
    min-width: 100vw;
}

.logo-wrapper {
    position: fixed;
    display: flex;
    padding: 0 2em;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s ease-in-out;
}

.logo-wrapper.left a {
    transform: translateX(calc(50% - 45vw))
}

.logo-wrapper a {
    margin: auto;
    transition: all 1s ease-in-out;
}

.logo-wrapper img {
    border-radius: 0 0 2rem 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
}

.vertical-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

a .img-thumbnail {
    transition: .2s;
    cursor: pointer;
}

a .img-thumbnail:hover {
    filter: grayscale(.7);
}

.sector {
    position: absolute;
    padding: .4rem;
    border: 2px dashed rgba(220, 220, 220, 0.75);
    outline: 2px solid var(--plang);
    outline-offset: 2px;
    background-color: black;
    transition: all .5s;
    min-height: .2rem;
    min-width: .5rem;
    white-space: nowrap;
    font-size: 1.2rem;
}

.sector:hover {
    padding: .5rem .8rem;
    font-style: italic;
    border-width: 3px;
    outline-width: 3px;
}

.sector.selected {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 !important;
}

#about-us-sector {
    margin-top: 20vh;
    margin-left: 20vw;
}

#contact-sector {
    margin-top: 30vh;
    margin-left: 65vw;
}

#process-sector {
    margin-top: 45vh;
    margin-left: 15vw;
}

#news-sector {
    margin-top: 60vh;
    margin-left: 55vw;
}

#services-sector {
    margin-top: 70vh;
    margin-left: 30vw;
}

#pricing-sector {
    margin-top: 80vh;
    margin-left: 65vw;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    box-shadow: inset 0px 0px 40px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--plang);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.news-show-more-btn::after {
    content: "Zobraziť menej";
}

.news-show-more-btn.collapsed::after {
    content: "Zobraziť viac";
}

.gmap {
    width: 100%;
    height: 100%;
    min-height: 20rem;
}


/* Styling for subpages with noscript */

.sub-bg {
    width: 100vw;
    height: 85vh;
    background-image: url(../img/podkladmin.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    overflow: auto;
}

em,
strong {
    color: var(--plang);
    font-weight: bold;
}

.sub-page {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    padding-bottom: 20vh;
}

.bg-black {
    background-color: black;
}

.bg-black-half {
    background-color: rgba(0, 0, 0, 0.5);
}

.shadow-black {
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.75);
}

.display-6 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#subpage-wrapper {
    padding-top: 15vh;
}

.border-plang {
    border-color: var(--plang);
}

.btn-outline-plang {
    color: var(--plang);
    border-color: var(--plang);
}

.btn-outline-plang.focus,
.btn-outline-plang:focus {
    outline: 0;
    box-shadow: none;
}

.btn-outline-plang:hover {
    color: var(--plangacc);
    box-shadow: 0 0 0 0.2rem var(--plangaccsemi);
    text-decoration: none;
}

.img-link {
    margin-left: auto;
    margin-right: auto;
}

.plain-list-group {
    list-style-type: none;
}

.plain-list-group li {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
}