body {
    overflow: hidden;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

body #loadscreen {
    display: none;
}

body.loading #loadscreen {
    display: block;
}

.space {
    background-image: url('../img/pozadieinv.png');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 100vh;
    min-width: 100vw;
}

.sector {
    position: absolute;
    padding: .4rem;
    border: 2px dashed rgba(220, 220, 220, 0.75);
    background-color: black;
    transition: all .5s;
    min-height: .2rem;
    min-width: .5rem;
}

.sector.selected {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 !important;
}

.sector::before {
    content: ' ';
    position: absolute;
    background-color: black;
    z-index: -1;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid rgba(220, 220, 220, 0.75);
}

#about-us-sector {
    margin-top: 20vh;
    margin-left: 20vw;
}

#about-us-sector .star {
    border-color: rgba(119, 168, 224, 0.75);
}

#contact-sector {
    margin-top: 25vh;
    margin-left: 65vw;
}

#contact-sector .star {
    border-width: 4px;
}

#process-sector {
    margin-top: 45vh;
    margin-left: 15vw;
}

#process-sector .star {
    border-color: rgba(248, 168, 76, 0.75);
}

#news-sector {
    margin-top: 60vh;
    margin-left: 55vw;
}

#services-sector {
    margin-top: 65vh;
    margin-left: 35vw;
}

#pricing-sector {
    margin-top: 80vh;
    margin-left: 65vw;
}